<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 align="center">Patient Report</h1>
    </div>
  </div>

<div class="container">
  <form action="/doctorReport" method="post">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="form-group">
        <label>Patient ID:</label>
        <input type="text" class="form-control" name="patientID">
    </div>

    <div class="form-group">
        <label>Age:</label>
        <input type="text" class="form-control" name="age">
    </div>

    <div class="form-group">
        <label>Height:</label>
        <input type="text" class="form-control" name="height">
    </div>

    <div class="form-group">
        <label>Weight:</label>
        <input type="text" class="form-control" name="weight">
    </div>
    <div class="form-group">
        <label>Symptoms:</label>
        <input type="text" class="form-control" name="symptoms">
    </div>

    <div class="form-group">
        <label>Prescribed medicines:</label>
        <input type="text" class="form-control" name="medicines">
    </div>

    <div class="form-group">
        <label>Diagnosis</label>
        <input type="text" class="form-control" name="diagnosis">
    </div>

    <div class="form-group">
          <label>Doctor Specialization</label>
          <select class="form-control" name="specialization">
            <option value="Cardiologist">Cardiologist</option>
            <option value="Dentist">Dentist</option>
            <option value="Neurologist">Neurologist</option>
            <option value="ENT_Specialist">ENT Specialist</option>
            <option value="Gastroenterologist">Gastroenterologist</option>
          </select>
        </div>

    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
  </form>
</div>

</body>
</html>
