<!doctype html>
<html>
<head>
    <title> HealthPlus </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <div class="navbar-header">
  <nav class="navbar navbar-default navbar-inverse" role="navigation" >
    </div>
</head>
<style>
body {
    background-image:url("https://d13yacurqjgara.cloudfront.net/users/112162/screenshots/1130822/lifeline.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
   <div class="wrap" align = "center">
   <h1 style = "font-family:lato", align = "center"><b>HEALTH</b><span class="fa fa-plus fa-1x"  style ="color:red"></span> </h1> <br>
<style>
   h1 {
    font-size: 7em;
  }
  </style>
  <br> <br><br><br><br>
  <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a> <br> <br>
  <style>
  button {
   width:5000px
} </style>
  <a href="/signup" class="btn btn-default"><span class="fa fa-pencil"></span> Signup</a>
  <style> button {
   width:5000px
} </style>
    </div>
</body>
</html>
